
# Python ignorables
logs/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
venv/
.env
.env.*

# Ignore all directories containing pyvenv.cfg
**/pyvenv.cfg
**/*/pyvenv.cfg

# Node.js ignorables
node_modules/
npm-debug.log
yarn-error.log
.pnp/
.pnp.js
.env
.env.test
.cache/
.next/
.nuxt/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.file_activity_report.json
*.db
core.*
.core
*.log
post_process_status.lock
